.mainPage {
    display: flex;
}

.cardsList {
    margin: 0 1em;
}

.filters {
    padding: 1em;
}

.cart {
    width: 0px;
    min-width: 0px;
    transition: min-width 1s ease;
    overflow: hidden;
}

.cartVisible {
    min-width: 600px;
}

@media screen and (max-width: 600px) {
    .mainPage {
        flex-direction: column;
    }

    .bookCard {
        flex-direction: column;
    }

    .bookImgCol {
        margin-right: 0;
    }

    .cartVisible {
        min-width: 100%;
    }

}
